<!DOCTYPE html> 
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
	<script src="test.js"></script>
</head>

<body>
<div ng-controller="Ctrl">
    <select id="limitType" name="limit" ng-model="selectedLimit">
        <option ng-repeat="limit in limits" ng-bind-html="limit.text" value="{{limit.text}}"></option>
    </select>
<div>
</body>
</html>